@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display:400,700&display=swap');

.subtitle {
  font-size: 1.2rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

.introDiv {
  display: flex;
  align-items: center;
  min-height: 80vh;
  padding: 3%;
}

.joey {
  margin: auto;
}

.medium-title {
  font-size: 2.8rem;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}
.big-title {
  font-size: 2rem;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
  margin: auto;
}
.title {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  line-height: 1.5
}

@media (min-width: 800px) { 
  .intro {
      display: flex;
  }
  .big-title {
    font-size: 3rem;
  }
  .introDiv {
    max-width: 50%;
  }
}

.scrollama-container {
    display: grid;
    grid-template-areas:
      "graphic text";
  }
  .scrollama-graphic {
    padding-top: 10vh;
    margin-right: 10vh;
    grid-area: text;
    height: 90vh;
    top: 10vh;
    }
  .mainContainer {
      display: grid;
      justify-content: center;
  }
  
  .textContainer {
      margin: auto;
      max-width: 60%;
      min-height: 90vh;
      display: flex;
      flex-flow: column wrap;
      /* align-items: center; */
      justify-content: center;
  }
/* .text {
  font-size: .5rem;

} */
