@import url('https://fonts.googleapis.com/css?family=Lato|Playfair+Display:400,700&display=swap');

.grid {
  display: inline-grid;
  grid-template-columns: 20vw 20vw 20vw;
  grid-gap: 9vw;
}
.pic-title-container {
  position: relative;
  text-align: center;
  max-width: 20vw;
  height: 30vh;
  background-image: url('https://bean-project-screenshots.s3.amazonaws.com/wes-hicks-Ccv4_hGvUpU-unsplash.jpg');
  background-size: 300px;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 7px rgb(92, 92, 92);
}

.pic-title-container-2 {
  position: relative;
  text-align: center;
  max-width: 20vw;
  height: 30vh;
  background-image: url('https://bean-project-screenshots.s3.amazonaws.com/6680749589_787754e50a_c.jpg');
  background-size: 300px;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 7px rgb(92, 92, 92);
}

.pic-title-container-3 {
  position: relative;
  text-align: center;
  max-width: 20vw;
  height: 30vh;
  background-image: url('https://bean-project-screenshots.s3.amazonaws.com/8136297499_036297e76f_c.jpg');
  background-size: 300px;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 7px rgb(92, 92, 92);
}
.photo-txt {
  padding-bottom: 3px;
  text-align: center;
  color: #fff;
  background-color: rgba(0,0,0,.8);
  font-size: 2rem;
  font-family: 'Playfair Display', serif;
  /* filter: drop-shadow(2px 2px 2px #000);  */
}

.desc-list {
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: rgb(98, 198, 248, .3);
  box-shadow: 1px 1px 7px rgb(92, 92, 92);
  list-style-type: none;
  padding-inline-start: 0;
  /* padding: 5%; */
}

.li-desc {
  /* line-height: 2; */
  padding: 5%;
}
.desc {
  max-width: 20vw;
}
.subtitle {
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
}

.medium-title {
  font-size: 2.8rem;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}
.big-title {
  font-size: 3.5rem;
  font-weight: 700;
  font-family: 'Playfair Display', serif;
  line-height: 1.5;
}
.title {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Playfair Display', serif;
  line-height: 1.5
}

.scrollama-container {
    display: grid;
    grid-template-areas:
      "graphic text";
  }
  .scrollama-graphic {
    padding-top: 10vh;
    margin-right: 10vh;
    grid-area: text;
    height: 90vh;
    top: 10vh;
    }
  .mainContainer {
      display: grid;
      justify-content: center;
  }
  
  .textContainer {
      margin: auto;
      max-width: 60%;
      min-height: 90vh;
      display: flex;
      flex-flow: column wrap;
      /* align-items: center; */
      justify-content: center;
  }

@media only screen and (max-width: 768px) {
  .grid {
    display: inline-grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 80vw;
  }

  .pic-title-container {
    max-width: 80vw;
    background-size: 500px;
  }
  .pic-title-container-2 {
    max-width: 80vw;
    background-size: 500px;
  }
  .pic-title-container-3 {
    max-width: 80vw;
    background-size: 500px;
  }

  .desc {
    max-width: 80vw;
  }
}
/* .text {
  font-size: .5rem;

} */
