.scrollama-container {
    display: grid;
    grid-template-areas:
      "graphic text";
  }
  .scrollama-graphic {
    padding-top: 10vh;
    margin-right: 10vh;
    grid-area: text;
    height: 90vh;
    top: 10vh;
    }
  .mainContainer {
      display: grid;
      justify-content: center;
  }
  
  .textContainer {
      margin: auto;
      max-width: 60%;
      min-height: 90vh;
      display: flex;
      flex-flow: column wrap;
      /* align-items: center; */
      justify-content: center;
  }